package ${packageName}#if($moduleName).${moduleName}#end.entity.dao;

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.ruoyi.common.mybatis.FgocPage;
import ${packageName}#if($moduleName).${moduleName}#end.entity.param.${classname}.${ClassName}QueryParam;
import ${packageName}#if($moduleName).${moduleName}#end.entity.po.${ClassName}Entity;
import ${packageName}#if($moduleName).${moduleName}#end.entity.vo.${classname}.${ClassName}QueryVO;
import ${packageName}#if($moduleName).${moduleName}#end.entity.vo.${classname}.${ClassName}ExportVO;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Param;

import java.util.List;

@Mapper
public interface ${ClassName}Dao extends BaseMapper<${ClassName}Entity> {

    /**
     * 分页
     */
    FgocPage<${ClassName}QueryVO> query(FgocPage<${ClassName}QueryVO> fgocPage, @Param("queryParam") ${ClassName}QueryParam queryParam);

    /**
     * 导出查询
     */
    List<${ClassName}ExportVO> export(@Param("queryParam") ${ClassName}QueryParam queryParam);
}