package ${packageName}#if($moduleName).${moduleName}#end.entity.maps;

import ${packageName}#if($moduleName).${moduleName}#end.entity.param.${classname}.${ClassName}SaveOrUpdateParam;
import ${packageName}#if($moduleName).${moduleName}#end.entity.po.${ClassName}Entity;
import ${packageName}#if($moduleName).${moduleName}#end.entity.vo.${classname}.${ClassName}DetailVO;
import org.mapstruct.Mapper;

@Mapper(componentModel = "spring")
public interface ${ClassName}Maps {

    ${ClassName}Entity saveOrUpdateParamToPo(${ClassName}SaveOrUpdateParam saveOrUpdateParam);

    ${ClassName}DetailVO poToDetailVo(${ClassName}Entity ${className}Entity);
}
