package ${packageName}#if($moduleName).${moduleName}#end.entity.po;

import com.baomidou.mybatisplus.annotation.*;
import lombok.AllArgsConstructor;
import lombok.Builder;
import lombok.Data;
import lombok.NoArgsConstructor;

import java.util.Date;

@Data
@Builder
@TableName("${tableName}")
@NoArgsConstructor
@AllArgsConstructor
public class ${ClassName}Entity {

#foreach ($column in $columns)
    /**
     * $column.columnComment
     */
    #if($column.pk)
    @TableId#if($column.increment)(type = IdType.AUTO)#end
    #else
    @TableField(value = "$column.columnName"#if($column.javaField == "createTime"), fill = FieldFill.INSERT#end#if($column.javaField == "updateTime"), fill = FieldFill.UPDATE#end)
    #end
    #if($column.javaField == "deleteTime")
    @TableLogic(value = "null", delval = "now()")
    #end
    private $column.javaType $column.javaField;

#end
}
