package ${packageName}.${moduleName}.entity.param.${classname};

import cn.hutool.core.date.DatePattern;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;
import org.springframework.format.annotation.DateTimeFormat;


@Data
@ApiModel
public class ${ClassName}QueryParam {

#foreach ($column in $columns)
    #if($column.query)
        #if($column.javaType == 'Date' && $column.queryType == 'BETWEEN')
    @DateTimeFormat(pattern = DatePattern.NORM_DATE_PATTERN)
    @ApiModelProperty(value = "$column.columnComment开始时间", example = "2023-01-01")
    private Date begin$column.capJavaField;

    @DateTimeFormat(pattern = DatePattern.NORM_DATE_PATTERN)
    @ApiModelProperty(value = "$column.columnComment结束时间", example = "2023-01-01")
    private Date end$column.capJavaField;
        #else
            #if($column.javaType == 'Date')
    @DateTimeFormat(pattern = DatePattern.NORM_DATE_PATTERN)
    @ApiModelProperty(value = "$column.columnComment", example = "2023-01-01")
            #else
    @ApiModelProperty(value = "$column.columnComment #if($column.dictType != "")字典:$column.dictType#end", example = "")
            #end
    private $column.javaType $column.javaField;
        #end

    #end
#end
}