package ${packageName}#if($moduleName).${moduleName}#end.entity.param.${classname};

import cn.hutool.core.date.DatePattern;
import com.fasterxml.jackson.annotation.JsonFormat;
import io.swagger.annotations.ApiModel;
import io.swagger.annotations.ApiModelProperty;
import lombok.Data;

import javax.validation.constraints.NotBlank;
import javax.validation.constraints.NotNull;
import java.util.Date;

@Data
@ApiModel
public class ${ClassName}SaveOrUpdateParam {

#foreach ($column in $columns)
    #if($column.edit)
        #set($parentheseIndex=$column.columnComment.indexOf("（"))
        #if($parentheseIndex != -1)
            #set($comment=$column.columnComment.substring(0, $parentheseIndex))
        #else
            #set($comment=$column.columnComment)
        #end
        #if($column.required)
            #if($column.javaType == 'String')
    @NotBlank(message = "$comment{not.null}")
            #else
    @NotNull(message = "$comment{not.null}")
            #end
        #end
        #if($column.javaType == 'Date')
    @JsonFormat(pattern = DatePattern.NORM_DATE_PATTERN)
    @ApiModelProperty(value = "$column.columnComment", example = "2023-01-01"#if($column.required), required = true#end)
        #else
    @ApiModelProperty(value = "$column.columnComment #if($column.dictType != "")字典:$column.dictType#end", example = ""#if($column.required), required = true#end)
        #end
    private $column.javaType $column.javaField;

    #end
#end
}
